target
.project
.settings
.classpath
project/boot
project/build/target
*.orig
*.swp
*.iml
*.class
.cache
project/plugins/project
project/plugins/src_managed
project/plugins/lib_managed
project/plugins/target
lib_managed
.scala_dependencies
.idea
top10-processing.iml
processing.log
redis.log
sink
*.log
.ensime*

